.container__techno {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  gap: 15px;
  margin-top: 30px;
  .card {
    background: linear-gradient(180deg, #ffffff, #f0f0f0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    h3 {
      font-family: "Playpen Sans", sans-serif;
      font-size: 22px;
      margin-bottom: 15px;
      color: #333;
    }

    .card__logo {
      width: 85px;
      height: auto;
      object-fit: cover;
    }
  }
}
