.carousel {
  position: relative;
  width: 85%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: relative;
    text-align: center;

    img {
      width: 100%;
      height: 583px;
      object-fit: cover;
    }

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    &__text {
      color: white;
      font-size: 24px;
      margin-right: 10px;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 2;

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }
  }

  &__github {
    margin-left: 10px;
    img {
      width: auto;
      height: 35px;
      object-fit: contain;
    }
  }
}

// Responsive tablet
@media (min-width: 769px) and (max-width: 1024px) {
  .carousel {
    &__content {
      img {
        height: 352px;
      }
    }
    &__github {
      img {
        height: 26px;
      }
    }
  }
}

// Responsive Phone
@media (max-width: 768px) {
  .carousel {
    &__content {
      img {
        height: 239px;
      }
    }
    &__github {
      img {
        height: 26px;
      }
    }
  }
}
