.main__container {
  &__contact__title {
    font-family: "Oswald", sans-serif;
  }
  &__contact__paragraphe {
    border: 2px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 65%;
    margin-bottom: 45px;
    &__police {
      margin: 3px;
      font-size: 20px;
      font-family: "Playpen Sans", sans-serif;
    }
  }
  &__contact__form {
    width: 42%;
  }
}

// Responsive tablet
@media (min-width: 769px) and (max-width: 1024px) {
  .main__container {
    &__contact__paragraphe {
      width: 87%;
      margin-bottom: 35px;
      &__police {
        font-size: 20px;
      }
    }
    &__contact__form {
      width: 75%;
    }
  }
}

// Responsive Phone
@media (max-width: 768px) {
  .main__container {
    &__contact__paragraphe {
      width: 87%;
      margin-bottom: 35px;
      &__police {
        font-size: 15px;
      }
    }
    &__contact__form {
      width: 75%;
    }
  }
}
