.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  color: white;
  margin-top: 15px;
  &__name {
    font-family: "Playwrite CU", sans-serif;
    font-size: 20px;
  }
  &__copyright {
    font-size: 17px;
    font-style: italic;
  }
  &__info {
    font-size: 18px;
    & a {
      color: white;
    }
  }
}

// Responsive Phone
@media (max-width: 768px) {
  .footer {
    gap: 15px;
    &__name {
      font-size: 10px;
    }
    &__copyright {
      font-size: 10px;
    }
    &__info {
      font-size: 10px;
    }
  }
}
