html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main__container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  .title__home {
    margin-top: 120px;
    font-family: "Oswald", sans-serif;
    font-size: 10px;
    transition: font-size 2s ease-in-out;
    opacity: 0;
    transition: font-size 2s ease-in-out, opacity 1.5s ease-in-out;
  }

  .animate-h2 {
    font-size: 45px; // Taille finale
    opacity: 1;
  }
  & .first__paragraphe {
    margin-top: 50px;
    font-size: 20px;
    font-family: "Playpen Sans", sans-serif;
  }
}

// Responsive tablet
@media (min-width: 769px) and (max-width: 1024px) {
  .main__container {
    .animate-h2 {
      font-size: 30px;
    }
    .first__paragraphe {
      font-size: 15px;
      text-align: center;
      width: 75%;
    }
  }
}

// Responsive Phone

@media (max-width: 768px) {
  .main__container {
    .title__home {
      font-size: 20px;
    }
    .first__paragraphe {
      font-size: 13px;
      text-align: center;
    }
  }
}
