.main__container {
  gap: 25px;
  margin-bottom: 40px;
  &__title {
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: "Oswald", sans-serif;
    margin-top: 90px;
  }
  &__formation {
    padding: 40px;
    &__paragraphe {
      font-family: "Playpen Sans", sans-serif;
      font-size: 20px;
    }
  }
  &__parcours {
    padding: 10px;
    &__title {
      margin-top: 5px;
      font-size: 25px;
      font-family: "Oswald", sans-serif;
    }
    &__paragraphe {
      font-family: "Playpen Sans", sans-serif;
      &__style__date {
        text-decoration: underline;
      }
    }
  }
  &__future {
    padding: 40px;
    &__paragraphe {
      font-family: "Playpen Sans", sans-serif;
      font-size: 28px;
    }
  }
}

// Responsive tablet
@media (min-width: 769px) and (max-width: 1024px) {
  .main__container {
    &__formation {
      &__paragraphe {
        font-size: 16px;
      }
    }
    &__future {
      &__paragraphe {
        font-size: 25px;
      }
    }
  }
}

// Responsive Phone
@media (max-width: 768px) {
  .main__container {
    &__formation {
      padding: 0px 8px;
      &__paragraphe {
        font-size: 10px;
      }
    }
    &__future {
      &__paragraphe {
        font-size: 12px;
      }
    }
  }
}
